﻿@model ExamWeb.Controllers.JourneyFilterVM


<div class="jumbotron">
    <h5>Filtros para Consulta</h5>
    <hr/>
    @using (Html.BeginForm("GetJourneys", "Journeys", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "akrual-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("IsAPost", true)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
            <input name="From" id="From" data-toggle="datepicker">
            @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
            <input name="To" id="To" data-toggle="datepicker">
            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
        </div>

        <input id="refreshReport" name="listButton" value="Consultar" type="submit" class="btn btn-primary">

        <div id="spinner-report" hidden>
            <div class="sk-spinner sk-spinner-pulse"></div>
        </div>
    }
</div>

