﻿@model ExamWeb.Controllers.JourneyListVM


@if (Model.Journeys != null &&
    Model.Journeys.Any())
{
    <table class="table table-striped table-bordered table-hover footable dataTables_scrollBody" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Motorista
                </th>
                <th>
                    Início
                </th>
                <th>
                    Fim
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Journeys)
            {
                <tr dataid="@item.Id">
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.DriverName
                    </td>
                    <td>
                        @Html.DisplayFor(s => item.DataInicial, "DateTimeWithTime")
                    </td>
                    <td>
                        @Html.DisplayFor(s => item.DataFinal, "DateTimeWithTime")
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Journeys", new { id = item.Id })" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Nenhum resultado.</h3>
}
